body {
	font-family: 'Merriweather';
}

#header {
	border-bottom: solid black 1px;
}

#header img {
	float: left;
	margin-left: 25px;
	height: 142px;
	width: 150px;
}

#header-content {
	font-family:'Open Sans Condensed', bold;
	background-image: url(50dark.png);
	margin-left: 180px;
	padding: 2px 20px 0px;
	text-align: center;
}

#sidebar ul {
	display: none;
}

#content {
	font-size: 80%;
}

#content img {
	display: block;
}

#footer {
	display: none
}

h1 {
	font-size: 250%;
	margin-top: -.5em;
	margin-bottom: -.5em;
}

h2 {
	text-align: center;
}

h3 {
	text-align: left;
	font-style: italic;
	margin-bottom: -.6em;
}

h4 {
	font-size: 125%;
	text-align: center;
}

.longname {
	text-transform: uppercase;
	font-size: 90%;
	letter-spacing: 2px;
	margin-top: -.5em;
}

.welcome {
	font-size: .8em;
	text-align: left;
	margin-bottom: -1em;
	text-align: justify;
}

.action {
	display: hidden;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.midnotice {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	max-width: 50%;
	margin: auto;
}

.rightnotice {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	float: right;
	max-width: 30%
}

.noprint {
	display: none;
}

.footnote {
	font-style: italic;
	font-size: .7em;
}

a[href^="mailto"]:after {
	content: " > "attr(title);
}

a {
	padding: 0px .25em;
	text-decoration: none;
	color: black;
	border: 1px solid black;
}

.post {
	background-color: #000;
	padding: 2px 10px 2px 10px;
	margin-bottom: 1em;
	border: solid 1px #406;
	text-decoration: none;
	
}

.post a:link, .post a:visited {
	color: #FFF;
	text-decoration: none;
}

.storycontent {
	color: #999;
}

.storycontent img {
	float: right;
	padding: 0em .5em .5em 1em;
}

.storytitle {
	font-family: 'IM Fell English', serif;
	padding: .5em 0em 0em 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	color: #CCC;
}

.meta {
	color: #93BEBE;
	font-family: 'IM Fell English SC', serif;
	text-transform: lowercase;
	text-align: right;
	position: relative; bottom: 0;
}

.content {
}

date {
	padding-left: 3em;
	font-family: 'IM Fell English SC', serif;
	color: #CCC;
}

h2 {
	padding-left: 3em;
	font-family: 'IM Fell English SC', serif;
	color: #CCC;
}
