html {
	box-sizing: border-box;
}

*, *:before, *.after {
	box-sizing: inherit;
}

body {
	color: #DDDDDD;
	background-color: #000000;
	margin: 0 auto 0 auto;
	font-family: 'Merriweather';
	font-size: 10px;
}

#container {
	background: url(textured-background.jpg);
	border-left: 2px solid #e0a821;
	border-right: 2px solid #e0a821;
	min-height: 100%;
	font-size: 1rem;
	padding-bottom: 8px;
}

#flavor {
	background-size: 100% auto;
	background-position: right top;
	background-repeat: no-repeat;
}

#content {
	min-height: 100%;
	margin: 8px;
	padding: 8px;
	font-size: .9rem;
}

header {
	margin: 0 8 12 8;
	padding: 5;
	position: relative; left: 0; top: 8;
	font-family:'Open Sans Condensed', bold;
	color: #EEEEEE;
	text-align: center;
	height: 20vw;
	/* overflow: auto; */
}

header img {
	float: left;
	width: 20%;
	height: auto;
}

#content, header {
	background-image: url(50dark.png);
	border-radius: 5px;
}

a:hover {
	color: #e0a821;
	text-decoration: none;
}

nav {
	border: 1px solid #e0a821;
	border-radius: 25px;
	height: auto;
	width: 70%;
	position: absolute;
	z-index: 101;
	top: 100px;
	right: 15%;
	background-color: #111;
	overflow-x: hidden;
	/* overflow: auto; */
	/* padding-top: 60px; */
	text-align: center;
	/* height: 100%; */
}

nav a {
	padding: 8px 0px;
	text-decoration: none;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #ddd;
	display: block;
	text-decoration: none;
}

nav a:hover {
	color: #e0a821;
}

.expandbtn {
	display: block;
	font-size: 1.5em;
	cursor: pointer;
	line-height: 80%;
}

.hidebtn {
	font-size: 2rem;
	position: absolute;
	right: 5px;
	display: block;
	padding: 0 .5em;
}

select {
	max-width: 100%;
}

@media screen and (max-height: 450p) {
	nav {padding-top: 15px;}
	nav a {font-size: 1.1rem;}
}

#content img {
	display: block;
	width: 100%;
	padding: 10 0;
}

#gallery {
	width: 100%;
}

#shop {
	padding: 8px;
	text-align: center;
	background-color: #000;
	border: 1px solid #e0a821;
	border-radius: 5px;
	max-width: 90%;
	color: white;
	margin: 10px auto 0px;
}

#shop td {
	text-align: center;
}

#shop form {
	margin: 0;
}

#shop span {
	display: block;
	width: 6em;
}

footer {
	position: relative;
	height: 3rem;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
}

footer img {
	height: 3rem;
	width: auto;
}

#footerText {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
}

h1 {
	font-size: 7vw;
	color: #e0a821;
	line-height: 100%;
	text-shadow: 1px -1px 1px #FFFFFF;
	margin: 0;
}

h2 {
	text-align: center;
	color: #eee;
	display: block;
	margin: auto;
	padding-bottom: 5px;
	border-bottom: 1px solid #e0a821;
}

h3 {
	text-align: left;
	font-style: italic;
	margin-bottom: -.6em;
	border-bottom: 1px solid #e0a821;
	display: block;
	width: 50%;
}

h4 {
	margin: 10px;
}

li {
	margin-bottom: 5px;
}


.longname {
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 2vw;
	letter-spacing: .2rem;
}

.welcome {
	font-weight: bold;
	font-size: .9em;
	text-align: left;
	margin-bottom: 0px;
}

a {
	text-decoration: none;
	color: #e0a821;
}

a[href^="mailto"] {
	text-decoration: none;
	color: #e0a821;
}

a[href^="mailto"]:hover:after {
	color: #e0a821;
	content: " > " attr(title);
}

#content ul {
	padding-bottom: .5em;
	line-height: 150%;
}

.action {
	font-variant: small-caps;
	background: #000;
	border: 1px solid #e0a821;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.midnotice {
	padding: 8px;
	text-align: center;
	background-color: #000;
	border: 1px solid #e0a821;
	border-radius: 5px;
	color: e0a821;
	max-width: 50%;
	margin: 1.5em;
}

.midnotice a {
	color: white;
}

.rightnotice {
	padding: 8px;
	text-align: center;
	background-color: #000;
	border: 1px solid #e0a821;
	border-radius: 5px;
	color: e0a821;
	float: right;
	max-width: 30%
}
	
.footnote {
	font-style: italic;
	font-size: .7em;
}

@media only screen and (min-width: 768px) {
	body {
		width: 900px;
		font-size: 1.2rem;
	}
	
	#flavor {
		background-size: 675px auto;
	}

	header {
		margin: 0 20 20 20;
		padding: 10 20;
		position: relative; left: 0; top: 20;
		font-family:'Open Sans Condensed', bold;
		color: #EEEEEE;
		text-align: center;
		height: 195px;
		display: block;
	}

	header img {
		width: 175px;
		height: 175px;
	}

	#content {
		min-height: 100%;
		margin-top: 30px;
		margin-left: 20px;
		margin-right: 20px;
		padding: 20px;
		text-align: justify;
	}

	#content, header {
		background-image: url(50dark.png);
		border-radius: 25px;
	}
	
	p {
		line-height: 150%;
	}

	h1 {
		font-size: 300%;
		margin-top: -.25em;
		margin-bottom: .25em;
	}

	.longname br {
		display: none;
	}

	.longname {
		margin-top: 5px;
		font-size: .8rem;
	}

	nav {
		display: block !important;
		border: none;
		background: none;
		position: initial;
		width: 70%;
		padding-left: 3em;
		/* right: initial; */
		/* height: 100%; */
	}

	nav a {
		/* display: inline-block; */
		background-image: url(50dark.png);
		line-height: 1.7rem;
		padding: 3 10px;
		margin: 3 3 0;
		float: left;
	}

	.protectedPages {
		float: right;
	}

	.expandbtn, .hidebtn {
		display: none;
	}

	h2 {
		padding: 10px 2em;
	}
}

@media only print {
	.noprint {
		display: none !important;
	}
}

.printonly {
	display: none;
}

.clearer {
	clear: both;
}

.videoContainer {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}